body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

.fl {
    float: left
}

.fr {
    float: right
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.title {
    padding: 90px 0;
}

.title .p1 {
    text-align: center;
    color: #9D3224;
    font-size: 26px;
}

.title .p2 {
    width: 34px;
    height: 5px;
    background: #9D3224;
    margin: 0 auto;
    margin-top: 5px;
}

.header {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.header .logo {
    width: 10%;
}

.header .logo img {
    width: 100%;
}

.header .login {
    width: 10%;
    border: 1px solid #9D3224;
    border-radius: 6px;
    font-size: 14px;
    color: #9D3224;
    text-align: center;
    padding: 9px 14px;
    background: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header .login:hover {
    background: #9D3224;
    color: #fff;
}

.headerNav {
    width: 65%;
    margin: 0 auto;
    height: 68px;
}

.headerNav .navParent>li {
    float: left;
    width: 20%;
    height: 100%;
    background: #fff;
    text-align: center;
    position: relative;
}

.headerNav .navParent>li>a {
    color: #9D3224;
    font-size: 20px;
    line-height: 68px;
}

.headerNav .navChildren {
    display: none;
    background: rgba(0, 0, 0, 0.70);
    z-index: 222;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
}

.headerNav .navParent>li:hover .headerNav .navChildren {
    display: block;
}

.headerNav .navParent>li:hover {
    background: #9D3224 !important;
}

.headerNav .navParent>li:hover a {
    color: #fff !important;
}

.headerNav .navChildren li {
    width: 100%;
    height: 68px;
    text-align: center;
}

.headerNav .navChildren li a {
    color: #fff;
    font-size: 18px;
    line-height: 68px;
}

.selLi {
    background: #9D3224 !important;
}

.selA {
    color: #fff !important;
}

.footer .links {
    width: 100%;
    background: url(../img/footerbg.jpg) no-repeat;
    background-size: 100% 100%;
}

.footer .links .syTitle {
    margin-top: 0;
    margin-bottom: 124px;
}

.footer .linksLogo {
    width: 75%;
    margin: 0 auto;
}

.footer .linksLogo a {
    display: inline-block;
    height: 55px;
    width: 20%;
    margin-right: 6%;
}

.linksLogo .top {
    margin-bottom: 88px;
}

.linksLogo .top a:last-child,
.linksLogo .mid a:last-child {
    margin-right: 0;
}

.linksLogo .mid {
    overflow: hidden;
    margin-bottom: 190px;
}

.linksLogo .mid a {
    float: left;
    width: 29%;
    height: 55px;
}

.linksLogo .mid a img {
    vertical-align: middle
}

.footer .bto {
    width: 100%;
    padding: 55px 0;
    background: rgba(133, 24, 15, 0.82);
}

.footer .bto>div {
    width: 85%;
    margin: 0 auto;
}

.footer .bto .p1 {
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.footer .bto .p2 {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 30px;
}